.image-3-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
  object-fit: cover;
}
.halaman-utamaberanda-child {
  position: absolute;
  top: 4px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 170px;
}
.beranda,
.kelola-museum {
  position: absolute;
  top: 66px;
  left: 252px;
}
.kelola-museum {
  left: 918px;
}
.informasi-museum,
.pembelian-tiket {
  position: absolute;
  top: 66px;
  left: 398px;
}
.pembelian-tiket {
  left: 676px;
}
.halaman-utamaberanda-item {
  position: absolute;
  top: 29px;
  left: 1262px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: rgba(250, 250, 250, 0.8);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1204px;
  height: 440px;
}
.selamat-datang-di {
  margin: 0;
  font-weight: 600;
}
.platform-digital-yang {
  margin: 0;
  font-weight: 500;
}
.selamat-datang-di-container {
  position: absolute;
  top: 76px;
  left: 49px;
  display: inline-block;
  width: 1085px;
}
.rectangle-parent {
  position: absolute;
  top: 382px;
  left: 118px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1204px;
  height: 440px;
  text-align: justify;
  font-size: 32px;
}
.logo-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gold);
  width: 160px;
  height: 151px;
}
.kemuseum-low-resolution-logo-c-icon {
  position: absolute;
  top: 16px;
  left: 21px;
  width: 119px;
  height: 120px;
  object-fit: cover;
}
.logo {
  position: absolute;
  top: 13px;
  left: 27px;
  width: 160px;
  height: 151px;
}
.halaman-utamaberanda-inner {
  position: absolute;
  top: 99px;
  left: 242px;
  border-radius: var(--br-xl);
  background-color: var(--color-gold);
  width: 130px;
  height: 10px;
}
.halaman-utamaberanda {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
